    <head>
        <title>Tech Blog</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Tech Blog</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="/post">Post</a></li>
                      <li class="active"><a href="/post/addPost">Add Post</a></li>
                      <% if(userdata.role=="Admin"){%>
                      <li class="active"><a href="/allUsers">Admin</a></li>
                      <%}%>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
                    </ul>
                  </div>
                </div>
            </nav>
            <hr/>
            <div class="row">
                <div class="offset-md-5 col-md-5">
                    <center>
                        <h2>Hi <%=userdata.name%></h2>
                    </center>
                    <hr/>
                    <% for(i=0;i<postdata.length;i++){%>
                        <div class="row">
                            <div class="col-md-10">
                                <h1><%=postdata[i].title%></h1>
                                <h2><%=postdata[i].description%></h2>
                                <p><%=postdata[i].createBy%></p>
                                <p>CreatedOn: <%=postdata[i].date%></p>
                                <p>UpdatedOn: <%=postdata[i].lastupdatedate%></p>
                                <p><%=postdata[i].tags%></p>
                                
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </body>
</html>